.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 900px) {
    nav ul {
        flex-direction: column;
        background-color: #3b3b3b;
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        transition: left 0.3s ease-in-out;
    }

    nav ul.showing {
        left: 0;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Smooth transition */
nav ul {
    transition: max-height 0.5s ease-in-out;
}